*,
html,
body {
    margin: 0;
    padding: 0;
    /*transition: all 0.5s;*/
}

body,
html {
    width: 100%;
    height: 100%;
}

button {
    background: rgba(0, 0, 0, 0);
    border-radius: 100px;
    border: none;
    height: 40px;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
}

a {
    text-decoration: none;
    line-height: 40px;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
    height: auto;
}

section {
    height: 100%;
}

.sub-section {
    width: 50%;
    height: 100%;
    position: relative;
}

.form .form-group {
    display: block;
    margin: 20px;
}

.form .form-group>* {
    display: inline-block;
}

.sr-only {
    display: none !important;
}

.left {
    float: left;
}

.right {
    float: right;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.col {
    flex: 1;
}

.btn-huge {
    height: 50px;
    padding: 0 30px;
}

.btn-lg {
    height: 40px;
    padding: 0 20px;
}

.btn-md {
    height: 40px;
    padding: 0 10px;
}

.btn-sm {
    height: 30px;
    padding: 0 10px;
}

.c-blue {
    color: #00bcd4;
}

.c-lipstick {
    color: #e91e63;
}

.c-bluey-purple {
    color: #673ab7;
}

.c-white {
    color: white;
}

.bg-green {
    background-color: #b1d136;
}

.bg-blue {
    background-color: #00bcd4;
}

.bg-lipstick {
    background-color: #e91e63;
}

.bg-tomato {
    background-color: #f44336;
}

.bg-bluey-purple {
    background-color: #673ab7;
}

.bg-yellow {
    background-color: #ffc107;
}

.bd-green {
    border-color: #b1d136;
}

.bd-blue {
    border-color: #00bcd4;
}

.bd-lipstick {
    border-color: #e91e63;
}

.bd-tomato {
    border-color: #f44336;
}

.bd-bluey-purple {
    border-color: #673ab7;
}

div[class^="decorate"] {
    position: absolute;
    height: 10px;
    border-radius: 5px;
    margin: 0 !important;
    padding: 0 !important;
}

.decorate-lg {
    width: 50px;
}

.decorate-md {
    width: 25px;
}

.decorate-sm {
    width: 15px;
}